# Address to check bin collection times for
ADDRESS=243 Cambridge Road Hitchin SG4 0JS

# Google Calendar API credentials (optional)
CLIENT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----
CALENDAR_ID=your-calendar-id@gmail.com
